<% @conversation ||= conversation  %>
  <% user ||= current_user %>

    <div id="frame" class="animated bounceInUp">
      <div id="chatbox">
        <%= link_to chat_index_path, class: "btn_back", remote: true do%>
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      <% end %>
      <div id="chatview" class="p1">
        <div id="profile">

          <h3><%= @conversation.opposed_user(user).first_name%></h3>
          <span><%= @conversation.opposed_user(user).email %></span>
        </div>
        <div class="chat_container">
          <div id="chat-messages">

            <%= render 'conversations/conversation_content', messages: @conversation.messages, user: user %>

          </div>
          <form class="new_message">
            <input name="conversation_id" type="hidden" value="<%= @conversation.id %>">
            <input name="user_id" type="hidden" value="<%= user.id %>">
            <textarea name="body" class=" input"></textarea>
            <br>
            <input type="submit" class="send" value="Send">
          </form>
        </div>
      </div>
    </div>
  </div>
