<% @conversation ||= conversation  %>
<% user ||= current_user %>

<div id="frame" class="animated bounceInUp">

    <!--
    <div class="panel panel-default" data-conversation-id="<%= @conversation.id %>">
      <div class="panel-heading">
        <br>
        <h3><%= @conversation.opposed_user(user).first_name%></h3>
      </div>

      <div class="panel-body chat_box" style="">
        <div class="messages-list" id="messages_list">
          <ul>
            <%= render 'conversations/conversation_content', messages: @conversation.messages, user: user %>
          </ul>
        </div>
        <form class="new_message">
          <input name="conversation_id" type="hidden" value="<%= @conversation.id %>">
          <input name="user_id" type="hidden" value="<%= user.id %>">
          <textarea name="body" class="form-control"></textarea>
          <br>
           <input type="submit" class="send" value="Send">
        </form>
      </div>
    </div>
  -->



    <!-- NEW CODE -->
<div id="chatbox">
  <%= link_to chat_index_path, class: "btn_back", remote: true  do%>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
  <% end %>
    <div id="chatview" class="p1">
        <div id="profile">

            <h3><%= @conversation.opposed_user(user).first_name%></h3>
            <span><%= @conversation.opposed_user(user).email %></span>
        </div>
        <div class="chat_container">
          <div id="chat-messages">
          	<label>Thursday 02</label>

            <%= render 'conversations/conversation_content', messages: @conversation.messages, user: user %>

          </div>
          <form class="new_message">
            <input name="conversation_id" type="hidden" value="<%= @conversation.id %>">
            <input name="user_id" type="hidden" value="<%= user.id %>">
            <textarea name="body" class=" input"></textarea>
            <br>
             <input type="submit" class="send" value="Send">
          </form>
        </div>




        <!--
        <form id="sendmessage" class="new_message">
          <input name="conversation_id" type="hidden" value="<%= @conversation.id %>">
          <input name="user_id" type="hidden" value="<%= user.id %>">
        	<input type="text" value="Send message..." />
            <input type="submit" class="send" value="Send">
        </form>-->







    </div>
</div>


    <!-- NEW CODE end -->

</div>
