<div id="frame" class="animated bounceInUp">
  <div class="container">
    <% tutor ||= @tutor %>
    <% session ||= @tutoring_session %>

    <div class="row">
      <div class="col col-12 pb-3 text-center">
        <h3 class="head_style"> Currently In Session </h3>
      </div>
    </div>

    <div class="row">
        <div class="col col-12 session_card" id="card" data-tutee_id=<%= session.user_id %>>
          <div class="row">
            <div class="col-4 session_card_head align-self-center">
              <div class="circle">
                <% if tutor.avatar.present? %>
                  <%= image_tag tutor.user.avatar, class: "session_img"%>
                <% else %>
                  <h1 id="session_img_init"><%= tutor.first_name[0] %></h1>
                <% end %>
              </div>
            </div>
            <div class="col-8 p-5">
              <div class="row">
                <h3><%= tutor.first_name %> <%= tutor.last_name %></h3>
              </div>
              <div class="py-4">
                <div class="row">
                  <p id="card_subject"><span class="bold"> <%= session.course.subject.abbrev %><%= session.course.number %></span> <%= session.course.name %></p>
                </div>

                <label>Question</label>
                <div class="row" id="card_question">
                    <p><%= session.question %></p>
                </div>
              </div>
              <%= link_to "Cancel", tutee_cancel_tutoring_session_path(tutor_id: session.tutor_id), id: "complete", class: "btn btn-lg btn-block cancel_btn", remote: true %>
              <%= link_to "Complete", tutee_cancel_tutoring_session_path(tutor_id: session.tutor_id), id: "", class: "btn btn-lg btn-block complete_btn", remote: true %>
            </div>
          </div>
        </div>
    </div>

  </div>

  <!-- <% tutor ||= @tutor %>
  <% tutoring_session ||= @tutoring_session %>
  <h1 class="text-center">You're being tutored by <%= tutor.first_name %> .</h1>

  <div class="container">
    <table class="table table-striped">
      <tr>
        <th>Tutee</th>
        <th>Subject</th>
        <th>Course</th>
        <th>Question</th>
        <th></th>
      </tr>

        <tr>
          <td><%= tutoring_session.user.first_name %> <%= tutoring_session.user.last_name %></td>
          <td><%= tutoring_session.course.subject.abbrev %></td>
          <td><%= tutoring_session.course.number %></td>
          <td><%= tutoring_session.question %></td>
          <td><%= link_to "Cancel", tutee_cancel_tutoring_session_path(tutor_id: tutor.id), class: "btn btn-primary", remote: true %></td>
        </tr>
    </table>
  </div> -->
</div>
