<div class="row row_index .row-eq-height">

    <div class="col col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
      <!--Sidebar content-->
			<%= render 'tutee/side_navigation_bar' %>
    </div>

    <div class="col col-xl-10 col-lg-9 col-md-9 col-sm-9 col-9">
      <div class="row">
        <%= render 'layouts/navigation_bar_leaf' %>
      </div>
      <!--Body content-->
      <div class="row justify-content-center">
  			<div class="col-md-8 col-sm-8 col-xs-8 col-8 pt-5">
  				<!-- This frame is being replaced with another page from the dashboard -->
          <% if @command == "find_tutor" %>
            <%= render partial: "find_tutor", object: @subject %>
          <% elsif @command == "list_of_tutors"%>
            <%= render partial: "tutee/list_of_tutors", object: @available_tutors %>
          <% elsif @command == "being_tutored" %>
            <%= render partial: "tutee/being_tutored", object: @tutor %>
          <% else %>
            <%= render partial: "tutee/pick_tutor", object: @tutor %>
          <% end %>
  			</div>
      </div>
    </div>

</div>


<%= javascript_include_tag('tutee.js') %>
