<div class="container-fluid">

  <div class="row">

    <div class="col-xs-3">
      <!--Sidebar content-->
			<%= render 'tutee/side_navigation_bar' %>
    </div>

    <div class="col-xs-9">
      <div class="row">
        <%= render 'layouts/navigation_bar_leaf' %>
      </div>
      <!--Body content-->
      <div class="row">
  			<div class="col-xs-8 col-xs-offset-2">
  				<!-- This frame is being replaced with another page from the dashboard -->
          <% if @command == "find_tutor" %>
            <%= render partial: "find_tutor", object: @subject %>
          <% elsif @command == "list_of_tutors"%>
            <%= render partial: "tutee/list_of_tutors", object: @available_tutors %>
          <% elsif @command == "being_tutored" %>
            <%= render partial: "tutee/being_tutored", object: @tutor %>
          <% else %>
            <%= render partial: "tutee/pick_tutor", object: @tutor %>
          <% end %>
  			</div>
      </div>
    </div>

  </div>

</div>



<%= javascript_include_tag('tutee.js') %>
