<%= form_tag(tutor_tutor_profile_update_path, method: :post) do %>
  <div class="py-3">
    <div id="tutor_profile_edit_course_field">
      <% for course in @courses %>
      <ul>
        <li>
          <div class="row">
            <% if @course_ids.include? course.id %>
              <%= check_box_tag 'course[id][]', course.id, checked: 1 %>
            <% else %>
              <%= check_box_tag 'course[id][]', course.id %>
            <% end %>
            <%= course.subject.abbrev %> <%= course.number %> - <%= course.name %>
            <br />
          </div>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
  <%= submit_tag "Update", class: "btn-lg btn-block complete_btn" %>
<% end %>
