<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>

    <header class="avatar">
      <div style="margin-bottom: 25px;">
        <%= link_to tutor_index_path do %>
        <%= image_tag "avatar.png", :id => "avatar" %>
        <h2 id="dash_board_user_name"><%= current_user.first_name %></h2>
        <% end %>
      </div>
      <%= render 'is_live' %>
    </header>



  <div class="side_navigation_bar">
    <ul>
      <li tabindex="0" class="row side_nav_bar_row">
        <span>
          <i class="fa fa-search col col-xs-2" aria-hidden="true" style="color:white;"></i>
          <%=link_to "Incoming Request", tutor_incoming_requests_path, remote: true, class: "btn col col-xs-7", id: "incoming_requests_link"  %>
          <mark id="incoming_requests_notify" class="col col-xs-2"></mark>
        </span>
      </li>
      <li tabindex="0" class="row side_nav_bar_row">
        <span>
          <i class="fa fa-th-list col col-xs-2" aria-hidden="true" style="color:white"></i>
          <%= link_to "Currently Tutoring", tutor_currently_tutoring_path, remote: true, class: "btn col col-xs-7", id: "currently_tutoring_link" %>
          <mark id="currently_tutoring_notify" class="col col-xs-2"></mark>
        </span>
      </li>
      <li tabindex="0" class="row side_nav_bar_row">
        <span>
          <i class="fa fa-comments col col-xs-2" aria-hidden="true" style="color:white"></i>
          <%= link_to "Messenger", chat_index_path, remote: true, class: "btn col col-xs-7" %>
          <mark class="col col-xs-2"></mark>
        </span>
      </li>
      <li tabindex="0" class="row side_nav_bar_row"><span>
        <i class="fa fa-money col col-xs-2" aria-hidden="true" style="color:white"></i>
        <%= link_to "Piggy Bank",tutor_piggy_bank_path,  remote: true, class: "btn col col-xs-7"%></span>
        <mark class="col col-xs-2"></mark>
      </li>
      <li tabindex="0" class="row side_nav_bar_row"><span>
        <i class="fa fa-chevron-circle-up col col-xs-2" aria-hidden="true"  style="color:white"></i>
        <%= link_to "Tutor Profile", tutor_tutor_profile_path, remote: true, class: "btn col col-xs-7" %></span>
        <mark class="col col-xs-2"></mark>
      </li>
    </ul>
  </div>

    <footer>© Copyright 2017 PeerTutor</footer>
</nav>
