<!--============= Tutor Dashbaord ============-->
<div class="row row_index">
	<div class="col col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
		<!--Sidebar content-->
		<%= render 'tutor/side_navigation_bar' %>
	</div>

	<div class="col col-xl-10 col-lg-9 col-md-9 col-sm-9 col-9">
		<div class="row">
			<%= render 'layouts/navigation_bar_leaf' %>
		</div>
		<!--Body content-->
		<div class="row justify-content-center">
			<div class="col-md-8 col-sm-8 col-xs-8 col-8 pt-5">
				<!-- <%= render 'is_live' %> -->
				<% if @not_live %>
					<%= render 'offline' %>
				<% else %>
					<% if current_user.location %>
						<%= render 'incoming_requests' %>
					<% else %>
						<%= render 'location' %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
